<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div>
      <h1><%= @list.name %></h1>
      <%= link_to "Edit list", edit_list_path %>
      <%= link_to "Delete",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>
<div>
  <% @list.bookmarks.each do |bookmark| %>
    <%= image_tag bookmark.movie.poster_url, alt: "movie poster" %>
    <p><%= bookmark.movie.title %></p>
  <% end %>
</div>

<%= link_to "Go back", lists_path, class: "btn btn-outline-dark btn-sm mt-2" %>

<div class="form">
  <h3>Add a new movie</h3>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment, placeholder: 'Add your comment' %>
    <%= f.association :movie, input_html: { class: 'select2' } %>
    <%= f.submit "Add movie", class: "btn btn-primary" %>
  <% end %>
</div>
